.export-document-preview-body {
  > h1 {
    border-bottom: 1px solid var(--pf-t--global--border--color--50);
    margin-bottom: 1rem;
  }
}

.export-document-preview-table {
  border-top: 1px solid var(--pf-t--global--border--color--50);
}